
.container {

	text-align: center;
	margin: 0 auto;
}

.container {

	list-style-type: none;
	padding-left: 0;
	line-height: 60px;
}

.buts {
	color: black;
	background-color: white;
	display: none;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	font-size: 25px;
	font-family: 'Gloria Hallelujah', cursive;
}

.buts:hover {

	background-color: darkred;
	color: yellow;
}

#start {
	color: black;
	width: 25%;
	background-color: white;
	font-family: 'Caveat Brush', cursive;
	font-size: 30px;

}

#start:hover {

background-color: darkred;
	color: yellow;

}

#restart:hover {

background-color: darkred;
	color: yellow;
	
}

img {

	width: 450px;
	height: 300px;
	border: 2px solid gray;
}

body {

	background-image: url("../images/hpbg.jpg");
	height: 100%;
	width: 100%;
}

.container {

border: 2px solid gray;
background-image: url("../images/bg2.jpg");
 background-size: 1170px 550px;
 background-repeat: no-repeat;
height: 550px;
margin-top: 40px;


}

#restart {
	color: black;
	margin-right:0; 
	width: 25%;
	background-color: white;
	font-family: 'Caveat Brush', cursive;
	font-size: 30px;

}

#title {

	font-size: 50px;
	font-family: 'Sedgwick Ave Display', cursive;
	color: black;
	text-shadow: 2px 2px gray;
	margin-top: 35px;
}

h2, h3, .right, .right2, .right3  {

	font-family: 'Caveat Brush', cursive;
	color: black;
	font-size: 40px;
	text-shadow: 2px 2px gray;
}


.btn {

	color: black;
}